<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/Style.css">
    <title>Razer</title>
</head>

<body>
    <header id="header"></header>
    <main>
        <section class="content-article">
            <article class="img-article">
                <picture>
                    <source sizes="1920w" srcset="/assets/img/Opus-Photoroom.png 1920w" type="image/png">
                    <img loading="lazy" decoding="async" src="/assets/img/Opus-Photoroom.png" lazyalt="imagen">
                </picture>
                <div class="info">
                    <p class="product-sound">Sonido Profesional</p>
                    <h1 class="product-name gradient">Razer Barracuda</h1>
                    <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consectetur, impedit autem! Sunt, tempore. Dolores explicabo saepe,
                        adipisci aspernatur, facilis ex eaque quaerat maxime labore doloremque debitis dolor,
                        quam incidunt officiis
                    </p>
                    <p class="product-price">Desde <span>$299</span></p>
                </div>
            </article><!--img-header-->
        </section>
    </main>
    <script src="/js/layoutLoader.js"></script>
</body>

</html>