<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/Style.css">
    <title>Razer</title>
</head>
<body>
    <header class="header">
         <section class="container content-header">
            <article class="img-header">
                <picture>
                    <source
                        sizes="1920w"
                        srcset="/img/header.avif 1920w"
                        type="image/avif">
                    <source
                        sizes="1920w"
                        srcset="/img/header.webp 1920w"
                        type="image/webp">
                    <source
                        sizes="1920w"
                        srcset="/img/header.png 1920w"
                        type="image/jpeg">
                    <img loading="lazy" decoding="async" src="/img/header.png" lazyalt="imagen">
                </picture>
            </article><!--img-header-->
            <article>
                <p>Sonido Profesional</p>
                <h1>Razer</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Consectetur, impedit autem! Sunt, tempore. Dolores explicabo saepe, 
                    adipisci aspernatur, facilis ex eaque quaerat maxime labore doloremque debitis dolor, 
                    quam incidunt officiis
                </p>
                <p>Desde <span>$299</span></p>
            </article>
         </section>
    </header>
</body>
</html>