<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/Style.css">
    <title>Razer</title>
</head>

<body>
    <header class="header" id="header">
        <nav class="nav-list">
            <ul class="nav-ul">
                <li><a href="#">PC</a></li>
                <li><a href="#">Console</a></li>
                <li><a href="#">Mobile</a></li>
            </ul>
        </nav>
        <img src="/assets/img/razerLogo.svg" alt="">
        <nav class="nav-list">
            <ul class="nav-ul">
                <li><a href="#">Support</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Buy Now</a></li>
            </ul>
        </nav>
    </header><!--Fin Header-->

    <footer class="footer">

    </footer>
</body>

</html>