:root {
    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Lalo, sans-serif';

    --primario: #1073ba;
    --secundario: #00da55;
    --gris: #747474;
    --blanco: #ffffff;
    --negro: #1f1e1e;
    --grisClaro: #e1e1e1;
    --separacion: 5rem;

    --colorRazer: #44D62C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--negro);
}

/* Global */

.container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-weight: 900;
    font-family: var(--fuenteSecundaria);
    margin: calc(var(--separacion) / 2) 0;
}

h1 {
    font-size: 9rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    display: block;
}

/* utilities */

.text-center {
    text-align: center;
}

/* HEADER */

.header {
    background: transparent;
    color: var(--blanco);
    height: 9rem;
    padding: 2rem 1rem 1rem 1rem;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: flex;
    justify-content: center;
}

.header img {
    height: 9rem;
    width: auto;
    margin-left: 7rem;
    margin-right: 7rem;
}

/* Navigation Bar */
.nav-list {
    height: auto;
    display: flex;
    align-items: center;
}

.nav-ul {
    gap: 4rem;
    list-style: none;
    display: flex;
}

.nav-ul a {
    text-decoration: none;
    color: var(--blanco);
}

/* First Section */
.content-article {
    display: flex;
    justify-content: center;
    background: var(--negro);
}

.img-article img {
    width: 90%;
    height: auto;
}

.img-article {
    align-items: center;
    background: var(--negro);
    color: var(--blanco);
    display: flex;
    width: 90%;
    height: 100vh;
}

.dot-selector {
    display: grid;
    overflow: hidden;
    height: 12rem;
    width: 5%;
    position: relative;
}

.wheel {
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 2rem;
    height: auto;
    flex-direction: column;
    transition: transform 0.4s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.space {
    height: 120px;
    flex-shrink: 0;
}

.color-dot {
    padding: 1rem;
    border-radius: 50%;
    opacity: 0.4;
    transform: scale(0.8);
    transition: transform 0.3s ease, opacity 0.3s ease;
    border: none;
}

.color-dot.active {
    transform: scale(1.3);
    opacity: 1;
    box-shadow: 0 0 10px #00f0ff55;
}

.dot-red {
    background-color: red;
}

.dot-white {
    background-color: white;
}

.dot-Black {
    background-color: black;
}

.product-sound {
    font-size: 2rem;
    color: var(--blanco);
}

.product-name {
    margin: 0;
    font-size: 8.5rem;
}

.product-description {
    margin-bottom: 2rem;
    font-size: 1.7rem;
    color: var(--blanco);
}

.product-price {
    font-size: 1.7rem;
    color: var(--blanco);

    span {
        font-size: 4.5rem;
    }
}

.gradient {
    color: transparent;
    background: linear-gradient(to right, var(--gris) 0%, var(--colorRazer)100%);
    -webkit-background-clip: text;
    background-clip: text;
}