:root{
    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Lalo, sans-serif';

    --primario: #1073ba;
    --secundario: #00da55;
    --gris: #747474;
    --blanco: #ffffff;
    --negro: #1f1e1e;
    --grisClaro: #e1e1e1;
    --separacion: 5rem;

    --colorRazer: #44D62C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--negro);
}

/* Global */

.container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

h1, h2, h3{
    font-weight: 900;
    font-family: var(--fuenteSecundaria);
    margin: calc(var(--separacion) / 2) 0;
}

h1{
    font-size: 9rem;
}

h2{
    font-size: 3.6rem;
}

h3{
    font-size: 2.8rem;
}

img{
    max-width: 100%;
    display: block;
}

/* utilities */

.text-center{
    text-align: center;
}

/* HEADER */

.header{
    background: transparent;
    color: var(--blanco);
    height: 9rem;
    padding: 2rem 1rem 1rem 1rem;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: flex;
    justify-content: center;
}

.header img{
    height: 9rem;
    width: auto;
    margin-left: 7rem;
    margin-right: 7rem;
}

/* Navigation Bar */
.nav-list{
    height: auto;
    display: flex;
    align-items: center;
}

.nav-ul{
    gap: 4rem;
    list-style: none;
    display: flex;
}

.nav-ul a{
    text-decoration: none;
    color: var(--blanco);
}

/* First Section */
.content-article{
    display: flex;
    justify-content: center;
    background: var(--negro);
}
.img-article img{
    width: 90%;
    height: auto;
}

.img-article{
    align-items: center;
    background: var(--negro);
    color: var(--blanco);
    display: flex;
    width: 90%;
    height: 100vh;
}

.product-sound{
    font-size: 2rem;
    color: var(--blanco);
}

.product-name{
    margin: 0;
    font-size: 8.5rem;
}

.product-description{
    margin-bottom: 2rem;
    font-size: 1.7rem;
    color: var(--blanco);
}

.product-price{
    font-size: 1.7rem;
    color: var(--blanco);

    span{
        font-size: 4.5rem;
    }
}

.gradient{
    color: transparent;
    background: linear-gradient(to right, var(--gris) 0%, var(--colorRazer)100%);
    -webkit-background-clip: text;
    background-clip: text;
}